@model Insurance.Models.tbl_policies
@{
    Layout = "~/Views/_LayoutPage1.cshtml";
}


@if (Session["UserName"] != null)
{
    <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
        <h1>
            <a class="navbar-brand text-white" href="#home">
                Insurance
            </a>
        </h1>
        <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-lg-auto text-center">
                <li class="nav-item active  mr-lg-3 mt-lg-0 mt-3">
                    <a class="nav-link" href="#home">
                        Home
                        @*<span class="sr-only">(current)</span>*@
                    </a>
                </li>
                <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                    <a class="nav-link scroll" href="ShowDetails">Show Details</a>
                </li>

                <li class="nav-item mr-lg-3 mt-lg-0 mt-3">
                    <a class="nav-link scroll" href="~/Home/Index">Logout</a>
                </li>

            </ul>
        </div>

    </nav>
    <div>
        <form method="post">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="wrapper">
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.PlanNumber, "Plan Name", htmlAttributes: new { @class = "control-label " })
                            <div>
                                @Html.DropDownList("PlanNumber", (IEnumerable<SelectListItem>)ViewBag.PlanNumber, "--Select--", htmlAttributes: new { @class = "form-select", @id = "planNumber", @onblur = "calculatePremium();" })
                                @Html.ValidationMessageFor(model => model.PlanNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.PolicyTerm, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.PolicyTerm, new { htmlAttributes = new { @class = "form-control", @id = "term", @onblur = "calculatePremium();" } })
                                @Html.ValidationMessageFor(model => model.PolicyTerm, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.SumAssured, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.SumAssured, new { htmlAttributes = new { @class = "form-control", @id = "sum", @onblur = "calculatePremium();" } })
                                @Html.ValidationMessageFor(model => model.SumAssured, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.PremiumMode, htmlAttributes: new { @class = "control-label " })
                            <div>
                                <select name="PremiumMode" id="mode" class="form-select" onblur="calculatePremium();">
                                    <option value="null">--select--</option>
                                    <option value="Yearly">Yearly</option>
                                    <option value="HalfYearly">Half_Yearly</option>
                                    <option value="Quaterly">Quaterly</option>
                                    <option value="Monthly">Monthly</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.InstallementPremium, htmlAttributes: new { @class = "control-label " })
                            <div>
                                @Html.EditorFor(model => model.InstallementPremium, new { htmlAttributes = new { @class = "form-control", @id = "premium" } })
                                @Html.ValidationMessageFor(model => model.InstallementPremium, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Insured, htmlAttributes: new { @class = "control-label " })
                            <div>
                                @Html.DropDownListFor(model => model.Insured, (IEnumerable<SelectListItem>)ViewBag.Insured, "--Select--", htmlAttributes: new { @class = "form-select" })
                                @Html.ValidationMessageFor(model => model.Insured, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Beneficiary, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.DropDownListFor(model => model.Beneficiary, (IEnumerable<SelectListItem>)ViewBag.Beneficiary, "--Select--", htmlAttributes: new { @class = "form-select" })
                                @Html.ValidationMessageFor(model => model.Beneficiary, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Owner, htmlAttributes: new { @class = "control-label " })
                            <div>
                                @Html.DropDownListFor(model => model.Owner, (IEnumerable<SelectListItem>)ViewBag.Owner, "--Select--", htmlAttributes: new { @class = "form-select" })
                                @Html.ValidationMessageFor(model => model.Owner, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.PremiumDueDate, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @*@Html.EditorFor(model => model.PremiumDueDate, new { htmlAttributes = new { @class = "form-control", @id="date"} })*@
                                <input type="text" name="PremiumDueDate" class="form-control" id="date" />
                                @Html.ValidationMessageFor(model => model.PremiumDueDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.PolicyStatus, htmlAttributes: new { @class = "control-label " })
                            <div>
                                <select name="PolicyStatus" class="form-select">
                                    <option value="null">--Select--</option>
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.PolicyStatus, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <input type="submit" value="Add Details" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
}
